body {
	margin: 0;
	padding: 0;
}

.box-1 {
	width: 200px;
	height: 200px;
	background-color: blueviolet;
	margin: 0 auto;
}

.box-2 {
	width: 20%;
	height: 200px;
	background-color: darksalmon;
	margin: 0 auto;
}